@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* header section */
.navbar{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px 0;
}
.nav-title{
    display: flex;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
}
.btn-primary{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 12px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 600;
background-color: #fff;
font-family: Azeret Mono;
}
.banner{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-discription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-image{
    margin-top: 25px;
}
.banner-image img{
    width: 200px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 25px;
}
.title-block{
    display: block;
    text-align: center;     
}
.banner-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.8;
    margin-top: 25px;
}
.subtitle-block{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.banner-button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 15px; 
    margin: 30px 0 50px 0; 
}
/* start main section */
#information{
    width: 1440px;
    background-color: #FAFAFB;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    border-radius: 8px;
    padding-bottom: 60px;
}
.section-information{
    padding-top: 60px;
}
.information-title{
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 37px;
}
.information-subtitle{
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.7;
    margin-top: 35px;
}
.parent-box{
    display: flex;
     justify-content: space-around;
     margin-top: 70px;

}
.child-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    text-align: left
}
.box-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin:0 0 25px 25px;
}
.box-subtitle{
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.7;
    margin:0 0 25px 25px;
}
.box-button{
    margin:0 0 25px 25px;
    padding: 15px 15px;
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.child-box-three{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 10%);
    text-align: left
}
.section-two
{
    max-width: 1440px;
    margin-top: 70px;
    margin-left: 200px;
}
.xtitle{
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Open sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
}
.xsubtitle{
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 20px;
}
.youtube{
    margin-top: 30px;
    display: flex;
    justify-content: center;
 }
 iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 30px;
 }
 .section-three{
    width: 1440px;
    text-align: 
    center;
    margin-top: 70px;
    margin-left: 200px;
 }
 .catalog{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    gap: 30px;
    margin-top: 60px;
 }
 .xcatalog{
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 30px;
    width: 250px;
}
.catalog-title{
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-family: Open sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
}
.catalog-xtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(13, 19, 33);
    font-family: Open sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.link{ 
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-family: Open sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.bgs{
    background-color:rgba(0, 76, 232, 0.05);;
}
.bgc{
    background-color: rgba(255, 223, 0, 0.05);
}
.section-four{
    width: 1440px;
    text-align: 
    center;
    margin-top: 70px;
    margin-left: 200px;
}
.header-target{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.target{
    width: 1440px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 30px;
}
.target-menu{
    margin-left: 30px;
}
.target-title{
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.target-subtitle{
    color: rgb(13, 19, 33);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0 20px 0;
}