@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* header section */
.navbar{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px 0;
}
.nav-title{
    display: flex;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
}
.btn-primary{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 12px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 600;
background-color: #fff;
font-family: Azeret Mono;
}
.banner{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-discription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-image{
    margin-top: 25px;
}
.banner-image img{
    width: 200px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 25px;
}
.title-block{
    display: block;
    text-align: center;     
}
.banner-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.8;
    margin-top: 25px;
}
.subtitle-block{
    display: block;
    text-align: center;
}
.banner-button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 15px; 
    margin: 25px 0 35px 0; 
}
/* start main section */
#information{
    width: 1440px;
    background-color: #FAFAFB;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    border-radius: 8px;
}
.section-information{
    padding-top: 60px;
}
.information-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 700;
    line-height: 37px;
}
.information-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.7;
    margin-top: 35px;
 
}
